body{
    width: 100vw;
    height: 100vh;
    background-color: #808080;
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 2rem 0rem;
    border:none;
    height: 4rem;
    display: block;
    width: 90%;
    height: auto;
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: 6vw;
    color: white;

}
button:active{
    background-color: rgb(32, 89, 224);
}
.btn-grabar{
    background-color: tomato;
}
input{
    display: block;
    width: 90%;
    height: 2rem;
    padding: 1rem 0rem;
    border: 0;
    border-bottom: 2px solid dodgerblue;
    outline: 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}